body{
    background-color: #FFFFFF;
    margin:0;
}

.firstTop{
    background-color: #0C9786;
}

.logoTop{
    background-color: rgb(0, 0, 0, 0.5);
}

.logoTops{
    margin:0 auto;
    width:90%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
        height: auto;
    overflow: auto;
}

.firstTops{
    margin:0 auto;
    width:90%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
        height: auto;
    overflow: auto;
}

.text-color-white{
    color: white;
}

.float-left-top{
    float: left;
    width: 50%;
}

.float-left-logo{
    float: left;
    width: 30%;
}

.float-right-top{
    float:right;
    width: 50%;
    text-align: right;
}

.float-right-logo{
    float:right;
    width:70%;
    text-align:right;
}

.social{
    list-style-type: none;
    margin:0;
}

.social li{
    display: inline;
    font-weight:700;
}

.social li a{
    text-decoration: none;
    color: white;
}

.logo-left{
    width:30%;
}

.menu{
    list-style-type: none;
}

.menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.menu li a{
    text-decoration: none;
    color: white;
}

.bg-image img{
    width: 100%;
}

.headers{
    position: absolute;
}

.slider-bottom{
        width: 100%;
    background: linear-gradient(-45deg, #0d4969, #0c9786);
    height: auto;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* .mid-content{
    float:left;
    width:30%;
} */

.slider-content{
    display: flex;
    justify-content: space-between;
}

.container{
    width:70%;
    margin:0 auto;
}

.sm-left{
    /* float:left; */
    color: white;
}

.sm-left h3,.sm-left h4{
    margin:0;
    color: white;
}

.sm-left .fas{
    font-size: 50px;
}

.mid-content{
    display: flex;
    justify-content: space-between;
}

.clear-fix{
    height: 80px;
    width: 100%;
}

.heading-bg{
     width: 100%;
    background: linear-gradient(-45deg, #0d4969, #0c9786);
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-align-center{
    text-align: center;
}

.main-heading{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
}

.bg-review{
    background: url('bg-review.jpg');
    padding-top: 130px;
    padding-bottom: 150px;
}

.bg-review h2{
    font-size: 28px;
    font-family: "Roboto", sans-serif;
}

.bg-review-left{
    width:70%;
}

.bg-review-right{
    width:30%;
}

.review-bgs{
    display: flex;
    justify-content: space-between;
}

.review-bg{
    width:20%;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
}

.review-bg img{
    width: 100%;
}

.review-bg h2{
    color: black;
    margin: 0;
    text-align: center;
}

.bg-review-forms{
    background-color: white;
    height:auto;
    margin-left: 15px;
}

.bg-review-content{
    display: flex;
    justify-content: space-between;
}

.form-header{
    background-color: #0B85C6;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.review-forms{
    padding: 20px;
}

.review-forms input{
        width: 100%;
    height: 30px;
    text-decoration: none;
    border: none;
}

.review-forms textarea{
    outline: none;
    border:none;
    width: 100%;
    height: 100px;
}

.review-forms input:focus,.review-forms textarea:focus{
    border: none;
    outline: none;
}

.form-bg{
    display: flex;
    border-bottom: 1px solid gray;
}

.form-bg span{
    color: gray;
    margin-top: 8px;
}

.form-clear-fix{
    height: 20px;
}

.submit-btn{
    background-color: #EC5252;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: #570b0b;
}