body{
    background-color: #FFFFFF;
    margin:0;
}

.firstTop{
    background-color: #0C9786;
}

.logoTop{
    background-color: rgb(0, 0, 0, 0.5);
}

.logoTops{
    margin:0 auto;
    width:90%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
        height: auto;
    overflow: auto;
}

.firstTops{
    margin:0 auto;
    width:90%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
        height: auto;
    overflow: auto;
}

.text-color-white{
    color: white;
}

.float-left-top{
    float: left;
    width: 50%;
}

.float-left-logo{
    float: left;
    width: 30%;
}

.float-right-top{
    float:right;
    width: 50%;
    text-align: right;
}

.float-right-logo{
    float:right;
    width:70%;
    text-align:right;
}

.social{
    list-style-type: none;
    margin:0;
}

.social li{
    display: inline;
    font-weight:700;
}

.social li a{
    text-decoration: none;
    color: white;
}

.logo-left{
    width:30%;
}

/* .menu{
    list-style-type: none;
}

.menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.menu li ul{
    display:block;
}

.menu li a{
    text-decoration: none;
    color: white;
} */

.menu-container ul{
list-style-type: none; /*remove disc from li */
     padding: 0;
     text-align: right;
    
}

.menu-container ul li{
    display:inline-block;
    margin-left: 10px;
}

.menu-container ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.menu-container ul li ul li{
    display: block;
    padding:10px;
}

.menu-container ul li ul{
    display: none;
    position: absolute;
    background: red;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
}

.menu-container ul li:hover>a{
    
    /* background-color: white;
    color: black; */
    padding: 10px;
    border-radius: 5px;
}

.menu-container ul li:hover>ul{
    display:block;
}

.bg-image img{
    width: 100%;
}

.headers{
    position: absolute;
}

.slider-bottom{
        width: 100%;
    background: linear-gradient(-45deg, #0d4969, #0c9786);
    height: auto;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* .mid-content{
    float:left;
    width:30%;
} */

.slider-content{
    display: flex;
    justify-content: space-between;
}

.container{
    width:70%;
    margin:0 auto;
}

.sm-left{
    /* float:left; */
    color: white;
}

.sm-left h3,.sm-left h4{
    margin:0;
    color: white;
}

.sm-left .fas{
    font-size: 50px;
}

.mid-content{
    display: flex;
    justify-content: space-between;
}

.clear-fix{
    height: 80px;
    width: 100%;
}

.heading-bg{
     width: 100%;
    background: linear-gradient(-45deg, #0d4969, #0c9786);
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-align-center{
    text-align: center;
}

.main-heading{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
}

.bg-review{
    background: url('bg-review.jpg');
    padding-top: 130px;
    padding-bottom: 150px;
}

.bg-review h2{
    font-size: 28px;
    font-family: "Roboto", sans-serif;
}

.bg-review-left{
    width:70%;
}

.bg-review-right{
    width:30%;
}

.review-bgs{
    display: flex;
    justify-content: space-between;
}

.review-bg{
    width:20%;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
}

.review-bg img{
    width: 100%;
}

.review-bg h2{
    color: black;
    margin: 0;
    text-align: center;
}

.bg-review-forms{
    background-color: white;
    height:auto;
    margin-left: 15px;
}

.bg-review-content{
    display: flex;
    justify-content: space-between;
}

.form-header{
    background-color: #0B85C6;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.review-forms{
    padding: 20px;
}

.review-forms input{
        width: 100%;
    height: 30px;
    text-decoration: none;
    border: none;
}

.review-forms textarea{
    outline: none;
    border:none;
    width: 100%;
    height: 100px;
}

.review-forms input:focus,.review-forms textarea:focus{
    border: none;
    outline: none;
}

.form-bg{
    display: flex;
    border-bottom: 1px solid gray;
}

.form-bg span{
    color: gray;
    margin-top: 8px;
}

.form-clear-fix{
    height: 20px;
}

.submit-btn{
    background-color: #EC5252;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: #570b0b;
}

.side-enquiry{
    background-color: red;
    width: 300px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    position: fixed;
    transform: rotate(-90deg);
    top:260px;
    right:-140px;
    cursor: pointer;
}

.side-enquiry:hover{
    background-color: #570b0b;
}

.whatsapp{
    width:100px;
    height:100px;
    padding: 10px;
    background-color: rgb(219, 12, 12);
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
}

.whatsapp img{
    width: 80px;
    height: 80px;
    margin-top: 10px;

}

.call{
    width:100px;
    height:100px;
    padding: 10px;
    background-color: rgb(219, 12, 12);
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: -4px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -4px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 1px 5px 0px rgba(0,0,0,0.75);
}

.call img{
    width: 80px;
    height: 80px;
    margin-top: 10px;

}

/* .drop-menu{
    position:absolute;
    display: block;
}

.drop:hover >.drop-menu{
    display: block;
} */

a {
  text-decoration: none;
  position: relative;
}

a::before,
a::after {
  content: "";
  position: absolute;
  display: block;
  border: 0 solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
}

a::after {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

a::before {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

a:hover::before,
a:hover::after {
  width: 100%;
  height: 100%;
  border-color: #A6A6A6;
}